.container {
    margin: 30px auto;
    width: 350px;
  }

/* Navbar */
.link {
  font-size: 18px;
}
.left {
  position: absolute;
  left: 44%;
}
.size {
  height: 60px;
}


/* Pantry */
.title-pantry {
  background-color: beige;
  border: 1px solid black;
}
.add {
  margin-top: 50px;
  position: absolute;
  left: 44%;
}
.dateSpace {
  margin: 15px;
}
.anchorText {
  color: white !important;
}


/* Favourites */
.title-favourites {
  position: relative;
  left: 44%;
  margin-bottom: 70px;
}
.favourite-foods {
  background-color: beige;
  border: 1px solid black;
}
.favourites-table {
  margin-top: 175px;
}
.favourites-add {
  position: absolute;
  left: 40%;
  margin-top: 50px;
}
.favourites-date {
  margin-right: 10px;
}

/* Landing */
.landing-background { 
  background: url(https://images.unsplash.com/photo-1590794056675-8354831935b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1263&q=80) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: absolute;
  height: 100vh;
  width: 100%;
}

.landing-box {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.8) !important;
  padding: 40px 40px;
  margin: 300px auto;
  border-radius: 10px;
  text-align: center;
}

.landing-button {
  -webkit-appearance: none;
  padding: 5px;
  border: none;
  background-color: rgb(86, 119, 128);
  color: #fff;
  font-weight: 600;
  border-radius:2% !important;
  width: 276px;
  height: 38px;
  margin-bottom: 20px;
}
.landing-button:hover {
  background-color: rgb(111, 152, 163);
  cursor: pointer;
}

.landing-anchor {
  text-decoration: none;
  color: rgb(86, 119, 128);
}

.landing-anchor:hover {
  color: rgb(23, 76, 90);
  cursor: pointer;
}